<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <span><a href="/">home</a></span> |
        <span><a href="/skills">skills</a></span> |
        <span><a href="/projects">projects</a></span> |
        <span><a href="/contact">contact</a></span>
      </p>
      <br/>
      <p>
        Made by me.</br>
        <a href="/contact">Get in touch </a>
      </p>
    </div>
  </div>
</footer>
