<head>
  <title>Mike Pawlak - Web Developer</title>
  {{>meta}}
  {{>favicon}}
  <meta name="theme-color" content="#10363a">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    [v-cloak] > * { display:none; }
  </style>

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>
