<router-link tag="li" to="/" exact>
  <a>Home</a>
</router-link>
<router-link tag="li" to="/skills">
  <a>Skills</a>
</router-link>
<router-link tag="li" to="/projects">
  <a>Projects</a>
</router-link>
<router-link tag="li" to="/contact">
  <a>Contact</a>
</router-link>
