<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
  <nav class="tabs">
    <div class="container">
      <ul>
        {{>navItems}}
      </ul>
    </div>
  </nav>
</div>
</section>
