<html>
<head>
  <style>
    html, body {
      padding: 15px;
      height: 100%
    }
    h1 {
      font-family: Roboto Mono, monospace;
    }
    h1, .shrug {
      font-size: 65px;
      margin-top: 35px;
      text-align: center;
    }
    .subtext {
      font-size: 25px;
      padding: 45px 0px;
      max-width: 800px;
      margin: 0px auto;
      float: none;
    }
    a {
      font-weight: bold;
      text-decoration: underline;
    }

  </style>

</head>
<body>

<div id="app">
  <h1 class="404-header">404 - Page Not Found</h1>
  <p class="shrug">¯\_(ツ)_/¯</p>
  <p class="subtext">Yeah, I'm not sure what you're looking for here.. Go back <a href="/">home</a> or <a href="/#/contact">get in touch</a>.</p>
</div>
</body>
</html>
